<ion-header>
  <ion-toolbar>
    <ion-title>Carrito Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-input type="text" hidden [(ngModel)]="idCarritoCompra"></ion-input>
      <ion-input type="text" placeholder="Ingrese idUsuarios" [(ngModel)]="idUsuarios"></ion-input>

      <div class="item-note" item-end>
        <ion-button *ngIf="!swGuardarCambios" (click)="addCarritoCompra()">Agregar Carrito Compra</ion-button>
      </div>
  </ion-item>
  <div padding>
      <ion-list>
          <ion-item *ngFor="let item of listCarritoCompra">
              {{item.idUsuarios}}
              <div class="item-note" slot="end">
                  
              </div>
          </ion-item>
      </ion-list>
  </div>

</ion-content>
