<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Producto (HProducto)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-input type="text" placeholder="Ingrese Cantidad" [(ngModel)]="cantidad"></ion-input>
        <ion-input type="text" placeholder="Ingrese ID Producto" [(ngModel)]="idProducto"></ion-input>
        <ion-input type="text" placeholder="Ingrese ID Carrito Compra" [(ngModel)]="idCarritoCompra"></ion-input>
        
        <div class="item-note" item-end>
            <ion-button *ngIf="!swGuardarCambios" (click)="addHProducto()">Agregar HProducto</ion-button>
        </div>
    </ion-item>
    <div padding>
        <ion-list>
            <ion-item *ngFor="let item of listHProducto">
                {{item.cantidad}}  
                ({{item.idProducto}})
                <div class="item-note" slot="end">
                    
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
